/* @import "compass/css3"; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  background-color: white;
  font-family: 'Montserrat';
}


.Navbar {
  background-color: white;
  display: flex;
  padding: 30px;
  color: black;
}

.Navbar__Link {
  padding-right: 15px;
  font-weight: bold;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {

  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}


/***************************************** section1 **************************/
.section1 {
  background-color: rgb(83, 83, 105)
}

.img {
  width: 800px;
  height: 800px;
  background-position: center center;
  background-size: cover;
  background-image: url("./images/image1.png");
}
/* .img{
	width: 200px;
	height: 200px;
	object-fit: none;
	background-color: black;
	border: 3px solid #ff9daa;
} */

.img2 {
  width: 800px;
  height: 800px;
  background-position: center center;
  background-size: cover;
  object-fit: none;
  background-image: url("./images/image1.png");
}

.content {
  margin: auto;
  max-width: 250px;
  width: 50%;
  margin-top: 200px;
}

.content-info_text {
  margin: auto;
  width: 70%;
  margin-top: 200px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 10px 10px;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.title {
  font-size: 1.9rem;
  color: white;
  font-weight: bold;
}

.description {
  margin-top: 15px;
  color: white;
  margin-bottom: 20px;
}

/****************************** section2 *****************************/
.section2 {
  background-color: white;
  margin: 0 auto;
  padding: 10px;

}

.container-card {
  margin: 30px;
  padding: 30px;
}

.title-container {
  margin: 20px;
  padding: 20px;
  text-align: center;

}

.title-features {
  font-size: 2rem;
  color: black;
}

.text-description {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-size: cover;
  background-image: url("./images/check_circle.png");
}

.sections-info {
  margin: 20px;
  padding: 15px;
}

.sections-info img {
  width: 50px;
  height: 50px;

}

.text {
  margin-right: 20px;
  margin-left: 20px;
  max-width: 400px;
}

/****************************** section3 *****************************/
.section3 {
  margin: 0px;
  background-color: rgb(83, 83, 105);
}

.description {
  color: white;
}

.section3-info {
  background-color: rgb(83, 83, 105);
  height: 350px;

}

.section3-info_1 {
  margin: 0 auto;
}

.section3-info2 {
  background-color: rgb(62, 62, 75);
  height: 350px;
}

.subtite {
  margin-top: 20px;
  color: white;
}

.title-section3 {
  color: white;

}

/**************************** section4 ********************************/
.section4 {
  margin: 20px;
  padding: 30px;
  align-items: center;
}

.items {
  margin: 20px;
  padding: 10px;
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  font-weight: bold;
}

.card-info {
  width: 250px;
  height: 290px;
  margin: 15px;
}

.image-conainer {
  height: 200px;
  margin: 10px;
  /* max-width: 200px; */
  background-color: rgb(83, 83, 105);
}

.text-container {
  max-width: 400px;
}

/******************************* section5 ***************************/
.section5 {

  padding: 10px;
  background-color: rgb(83, 83, 105);
}

.section5-title {
  padding: 10px;
  color: white;
}

.container {
  margin: 10px;
  padding: 10px;
}

.button1 {
  background-color: rgb(83, 83, 105);
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin: 10px 10px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border: 2px solid black;

}

/****************************** section6 *****************************/
.section6 {
  margin: 0 auto;
}

.card-section6 {
  width: 200px;
  height: 130px;
  background-color: rgb(83, 83, 105);
}

.container-text {
  margin-right: 20px;
  margin-left: 20px;
  max-width: 400px;
}

/****************************** section7 ****************************/
.section7 {
  background-color: rgb(83, 83, 105);
}

.input {
  height: 40px;
  width: 250px;
  background-color: white;
  /* display: inline-block; */
  border-radius: 5px;
}

/***************************** section 8 *****************************/

.spinner {
  widows: 100%;
  background-color: #4CAF50;
}

.foot-image {

  padding: 20px;
}

.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}

.chart figcaption {
  padding: 50px 25px;
  width: 170px;
  height: 170px;
  border-radius: 100px;
  line-height: 50px;
}

.chart svg {
  position: absolute;
  top: -5px;
  left: -15px;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 5;
  stroke-dasharray: 534;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 67;
  animation: show75 3s;
}

.chart[data-percent='85'] .outer {
  stroke-dashoffset: 100;
  animation: show75 3s;
}

.chart[data-percent='90'] .outer {
  stroke-dashoffset: 130;
  animation: show75 3s;
}

.chart[data-percent='95'] .outer {
  stroke-dashoffset: 180;
  animation: show75 3s;
}


@keyframes show75 {
  from {
    stroke-dashoffset: 534;
  }

  to {
    stroke-dashoffset: ;
  }
}

@keyframes show85 {
  from {
    stroke-dashoffset: 500;
  }

  to {
    stroke-dashoffset: ;
  }
}

.icon {
  color: white;
}

.icon1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  color: white;
}

.icon2 {
  width: 400px;
  margin: 0 auto;
  color: white;

}

/***************************** footer ******************************/
.footer {
  background-color: rgb(83, 83, 105);
}

.footer-info {
  background-color: rgb(83, 83, 105);
  height: 300px;
}

.footer-info2 {
  background-color: rgb(62, 62, 75);
  height: 300px;
}

.contact {
  padding: 10px;
  margin: 20px;
}

.footer-list {
  max-width: 100%;
  background-color: rgb(62, 62, 75);
}

.container2 {
  background-color: #4CAF50;
}

.navigation2 {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}

.navigation2 a {
  text-decoration: none;
  /* display: block; */
  padding: 1.3em;
  color: white;
}

.circle img {
  width: 50px;
}


@media all and (max-width: 670px) {
  .card-section6 {
    width: 320px;
    height: 200px;

  }

  .sections-info {
    max-width: 600px;
  }

  .text {
    max-width: 200px;
  }

}

@media all and (max-width: 570px) {

  .navigation2 a {
    display: none;
  }
}

@media all and (max-width: 766px) {
  .img2 {
    display: none;
  }
}

@media all and (min-width: 767px) {
  .img {
    background: none;
  }

  .img2 {
    display: block;
    position: relative;
  }

  .content {
    max-width: 800px;
    width: 80%;
  }
}