/* @import "compass/css3"; */
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: white;
}

.navbar {
    width: 100%;
    /* position:fixed; */
    background-color: white;
}
  .logo {
    max-height: 80px;
    padding: 0 10%;
  }

.navigation {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}

.navigation img{
    justify-content: flex start;
}

.navigation a {
  text-decoration: none;
  /* display: block; */
  padding: 1.3em;
  color: black;
}


/***************************************** section1 **************************/
.section1 {

  background-color: rgb(83, 83, 105)
}

.img {
  width: 800px;
  height: 800px;
  background-position: center center;
  background-size: cover;
  background-image: url("./images/image1.png");
}


.content {
  margin: auto;
  max-width: 250px;
  width: 50%;
  margin-top: 200px;
}
.content-info_text {
  margin: auto;
  width: 70%;
  margin-top: 200px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 10px 10px;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.title {
  font-size: 1.9rem;
  color: white;
  font-weight: bold;
}

.description {
  margin-top: 15px;
  color: white;
  margin-bottom: 20px;
}

/****************************** section2 *****************************/
.section2 {
  background-color: white;
  margin: 0 auto;

}

.title-container {
  margin: 10px;
  padding: 10px;
  text-align: center;

}

.title-features {
  font-size: 2rem;
  color: black;
}

.text-description {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-size: cover;
  background-image: url("./images/check_circle.png");
}

.sections-info {
  margin: 20px;
  padding: 15px;

}

.sections-info img {
  width: 50px;
  height: 50px;
}

/****************************** section3 *****************************/
.section3 {
  margin: 0px;
  background-color:  rgb(83, 83, 105);
}

.section3-info {
  background-color: rgb(83, 83, 105);
  height: 350px;

}

.section3-info_1 {
  margin: 0 auto;
}

.section3-info2 {
  background-color: rgb(62, 62, 75);
  height: 350px;
}

.subtite {
  margin-top: 20px;
  color: white;
}

.title-section3 {
  color: white;

}

/**************************** section4 ********************************/
.items {
  margin: 20px;
  padding: 30px;
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.card-info {
  width: 250px;
  height: 290px;
  margin: 15px;
}

.image-conainer {
  height: 200px;
  margin: 10px;
  max-width: 200px;
  background-color: rgb(83, 83, 105);
}

.text-container {
  max-width: 200px;
}

/******************************* section5 ***************************/
.section5 {
  background-color: rgb(83, 83, 105);
}

.section5-title {
  padding: 10px;
  color: white;
}

.container {
  margin: 10px;
  padding: 10px;
}

.button1 {
  background-color: rgb(83, 83, 105);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 10px 10px;
  cursor: pointer;
  width: 150px;
  height: 40px;

}

/****************************** section6 *****************************/
.section6 {
  margin: 0 auto;
}

.card-section6 {
  width: 120px;
  height: 100px;
  background-color: rgb(83, 83, 105);
}

.container-text {
  margin-right: 20px;
  margin-left: 20px;
}

/****************************** section7 ****************************/
.section7 {
  background-color: rgb(83, 83, 105);
}

.input {
  height: 40px;
  width: 250px;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
}

/***************************** section 8 *****************************/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/***************************** footer ******************************/
.footer{
  background-color: rgb(83, 83, 105);
}
.footer-info {
  background-color: rgb(83, 83, 105);
  height: 250px;
}

.footer-info2 {
  background-color: rgb(62, 62, 75);
  height: 250px;
}

.contact {
  padding: 10px;
  margin: 20px;
}

.footer-list {
  max-width: 100%;
  background-color: rgb(62, 62, 75);
}

.container2 {
  background-color: #4CAF50;
}
.navigation2 {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}
.navigation2 a {
  text-decoration: none;
  /* display: block; */
  padding: 1.3em;
  color: white;
}

@media all and (max-width: 600px) {
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
